.section {
  height: 100vh;
  background: $primary;
  position: relative;
  background-attachment: fixed!important;
  .toggle-next {
    display: block;
    width: 80px;
    height: 32px;
    background: transparent url('/assets/img/caret-down.png') 100% no-repeat;
    position: absolute;
    bottom: 60px;
    z-index: 1000;
    @extend %center-x;
  }
  .absoluteCenter {
    top: 52%;
    @media all and (max-width: 1280px) {
      top: 55%;
    }
  }
  .content {
    text-align: center;
    color: $white;
    max-width: 650px;
    margin: auto;
    h1 {
      text-transform: uppercase;
      margin-bottom: 35px;
      letter-spacing: 0.1em;
      font-weight: 700;
      font-size: 3.000em;
    }
    h2 {
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 0.1em;
      font-weight: 700;
      font-size: 2.225em;
      color: $brown;
    }
    h3 {
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 0.1em;
      font-weight: 700;
      font-size: 1.725em;
      color: $brown;
    }
    p {
      margin-bottom: 15px;
      line-height: 25px;
      letter-spacing: 0.1em;
      font-family: $font-secondary;
      font-size: 1.600em;
    }
    p.secondary {
      color: $brown;
    }
  }
  .content.main {
    max-width: none;
    h1 {
      font-size: 8.500em;
      font-weight: 200;
      letter-spacing: 0.05em;
      margin-bottom: 30px;
    }
    .curve {
      margin-bottom: 0;
    }
    .logo {
      max-width: 300px;
      margin-bottom: 50px;
    }
    .btn {
      margin-bottom: 40px;
    }
  }
}
.content.-whole {
  max-width: none;
  .profile {
    text-align: left;
    padding: 35px;
    border: 1px solid $brown;
  }
  .notes {
    padding-top: 40px;
    text-align: left;
  }
}
.section:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}
.section:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}
.bg-home {
  background: transparent url('/assets/img/bg/landscape.jpg') center bottom/cover no-repeat;
}
.bg-our-whiskey-1 {
  background: transparent url('/assets/img/bg/republic-of-whiskey-bottle.jpg') center/cover no-repeat;
}
.bg-our-whiskey-2 {
  background: transparent url('/assets/img/bg/republic-of-whiskey-bottle-2.jpg') center/cover no-repeat;
}
.bg-how-its-made-1 {
  background: transparent url('/assets/img/bg/how-1-still.jpg') center/cover no-repeat;
}
.bg-how-its-made-2 {
  background: transparent url('/assets/img/bg/how-2-still.jpg') center/cover no-repeat;
}
.bg-how-its-made-3 {
  background: transparent url('/assets/img/bg/how-3-still.jpg') center/cover no-repeat;
}
.bg-how-its-made-4 {
  background: transparent url('/assets/img/bg/how-4-stored.jpg') center/cover no-repeat;
}
.bg-how-its-made-5 {
  background: transparent url('/assets/img/bg/how-5-blend.jpg') center/cover no-repeat;
}
.bg-become-citizen {
  background: transparent url('/assets/img/bg/become-citizen.jpg') center/cover no-repeat;
}
.bg-contact-us {
  background: transparent url('/assets/img/bg/contact.jpg') center/cover no-repeat;
}
