@font-face {
  font-family: Stratum;
  src: url("/assets/fonts/Stratum2-Medium.otf"),
    url("/assets/fonts/Stratum2-Black.otf"),
    url("/assets/fonts/Stratum2-Bold.otf"),;
}

@font-face {
  font-family: Verlag;
  src: url("/assets/fonts/Verlag Book.otf"),
    url("/assets/fonts/Verlag Bold.otf");
}

$font-primary: 'Stratum', Arial, sans-serif;
$font-secondary: 'Verlag', Arial, sans-serif;

body {
  font-size: 10px;
  font-family: $font-primary;
  @media all and (max-width: 1280px) {
    font-size: 9px;
  }
  @media all and (max-width: 991px) {
    font-size: 8px;
  }
  @media all and (max-width: 480px) {
    font-size: 6px;
  }
}

@mixin font-size($size){
  font-size: $size * 1px;
  font-size: $size * 0.1rem;
}
